<%= form_tag contents_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a content"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<% @contents.each do |content| %>
<%= content.description %>
<%= content.place %>
<%= content.tag %>
<%= cl_image_tag content.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
