<div class="container devise__container --signup">
  <div class="row">
    <div class="col-xs-12 devise__block">
      <div>
        <h2 class="devise__logo">ogram</h2>
        <h3 class="devise__title">can't take any more of these <span class="--font-terciary-color">selfies?</span></h3>
      </div>
      <div class="devise__form">
        <div class="">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="devise__form__button">
              <%= f.button :submit, "Sign up", class: "btn --secondary --full"%>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
