<%= simple_form_for([ content, comment ], remote: true) do |f| %>
  <div class="content__content__form__text">
    <%= description %>
  </div>

  <div class="content__content__form__inputs">
    <%= f.input :description, as: :text, label: false%>
    <%= button_tag(type: 'submit') do %>
      <%= icon('fas', 'upload') %>Publish
    <% end %>
  </div>

<% end %>
