
<div class= "container user_edit">
  <div class="row justify-content-center">
    <div class="col-8 ">
  <%= simple_form_for(@user) do |f| %>
  <%= f.input :name%>
  <%= f.input :email %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'upload' %>
  <% end %>
    </div>
  </div>
</div>



<style>
  .user_edit{
    margin-top: 150px;
    display: flex;
    align-items: center;
  }
</style>
