<%= simple_form_for([content, comment], remote: true) do |f| %>
  <div class= "commentForm" id="commentForm-<%= content.id %>">
    <div class="commentForm__input">
      <%= f.input_field :description, label: false,
        class: "form-control",
        placeholder: "Give your answer"
      %>
    </div>
    <div class="commentForm__icon">
      <%= icon('fas', 'comment-alt')  %>
    </div>
    <div class="commentForm__submit --inactive">
      <%= f.submit "Comment" %>
    </div>
  </div>
<% end %>
