<div class="modal">
  <div class="modal__header">
    <div class="modal__title">
      <%= content.description %>
    </div>
    <button data-close-modal="#closeModal"  class="modal__close">&times;</button>
  </div>
  <div class="modal__form">
    <%= render 'shared/commentForm', content: content, comment: @comment %>
  </div>
  <div class="modal__body" id="comments">
    <% content.comments.each do |comment|%>
      <% if comment %>
        <div class="comment" id="comment-<%= comment.id %>">
          <div class="comment__author">
            <div>Posted by <%= User.find(comment.user_id).email %></div>
            <%= link_to comment_path(comment), method: 'delete', remote: true do %>
              <div class="comment__delete">&times;</div>
             <% end %>
          </div>
          <div class="comment__description">
            <%= comment.description %>
          </div>
        </div>
      <% end%>
    <% end%>
  </div>
</div>
