<% if !request.params[:controller].include?("devise") %>
  <div class="navbar">
    <div>
      <%= link_to root_path, class: "navbar__logo" do %>
          ogram
      <% end %>
    </div>

    <div class ="navbar__icons">
      <% if params[:controller] == "contents" %>
      <%= render 'shared/searchBar', path: contents_path %>
      <% else %>
      <%= render 'shared/searchBar', path: root_path %>
      <% end %>
      <div>
        <%= icon('fas', 'search') %>
        <%= icon('fas', 'search') %>
      </div>
    </div>
  </div>
<% end %>
