<% if !request.params[:controller].include?("devise") %>
  <div class="navbar">
    <%= link_to root_path, class: "navbar__logo" do %>
        ogram
    <% end %>

    <% if params[:controller] == "contents" %>
      <%= form_tag contents_path, method: :get do %>
        <div class= "searchBar">
          <div class="searchBar__input">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search a topic"
            %>
          </div>
          <div class="searchBar__icon">
            <%= icon('fas', 'search') %>
          </div>
          <div class="searchBar__submit">
            <%= submit_tag "Search", id: "search-bar-submit"%>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= form_tag root_path, method: :get do %>
        <div class= "searchBar">
          <div class="searchBar__input">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search a topic"
            %>
          </div>
          <div class="searchBar__icon">
            <%= icon('fas', 'search') %>
          </div>
          <div class="searchBar__submit --inactive">
            <%= submit_tag "Search", id: "search-bar-submit"%>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>
