<div class="main">
  <% @contents.each_with_index do |content, index| %>
    <div class="content" id="<%= index %>">
      <div class="content__media">
        <% if content.file.content_type.include?("image") %>
            <%= cl_image_tag content.file.key, class: "content__media__file" %>
        <% else %>
            <%= cl_video_tag content.file.key, controls:true, class: "content__media__file" %>
        <% end %>
      </div>
      <div class="content__content" >
        <div class="content__content__form">
          <%= render 'comments/form', content: content, comment: @comment, description: content.description%>
        </div>
        <% if content.comments.last %>
          <div class="content__comment">
            <div class="content__comment__author">
              Posted by <%= content.comments.last.user.email %>
            </div>
            <div class="content__comment__description">
              <%= content.comments.last.description %>
            </div>
            <div class="content__comment__more" data-modal-target="#modal" id="<%= index %>">
              See all answers (<%= content.comments.count %>)
            </div>
          </div>
        <% end %>
      </div>
      <div class="content__buttons">
        <%= simple_form_for @user_view, remote: true do |f| %>
          <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
          <%= f.submit "Create user view", class: "btnView" %>
        <% end %>
        <%= simple_form_for @user_view, url: save_user_views_path, method: :patch, remote: true do |f| %>
          <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
          <%= f.submit "Save content", class: "btnSave" %>
        <% end %>
        <%= simple_form_for @user_view, url: downvote_user_views_path, method: :patch, remote: true do |f| %>
          <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
          <%= f.submit "Downvote content", class: "btnDownvote" %>
        <% end %>
      </div>
      <div class="modal" id="modal-<%= index %>">
        <div class="modal__header">
          <div class="modal__header__title">
            <%= content.description %>
          </div>
          <button data-close-modal="#closeModal"  class="modal__header__close">&times;</button>
        </div>
        <div class="modal__body" id="comments">
          <% content.comments.each do |comment|%>
            <% if comment %>
              <div class="content__comment">
                <div class="content__comment__author">
                   Posted by <%= User.find(comment.user_id).email %>
                </div>
                <div class="content__comment__description">
                  <%= comment.description %>
                </div>
              </div>
            <% end%>
          <% end%>
        </div>
      </div>
    </div>
  <% end %>
</div>
