<% @contents.each do |content| %>
  <div class="content">
    <%= cl_image_tag content.photo.key %>
    <div class="content__infos">
      <div class="content__info__author">
        Posted by <%= content.user.email %>
      </div>
      <div class="content__description">
        <%= content.description %>
      </div>
      <div class="content__info__labels">
        <div class="content__info__label">Film</div>
        <div class="content__info__label">Photography</div>
        <div class="content__info__label">Opost</div>
      </div>
      <div class="content__comments">
        <div class="content__comment">
          <div class="content__comment__icon"><div><%= icon('fas', 'arrow-up') %></div><%= content.comments.count %></div>
          <div>
            <div class="content__info__author">
              posted by @flo - 2min ago in Paris.
            </div>
            <p class="content__description">
              <%= "Great movie, I watched it last night with my mife, what a performance from J.Phoenix!"%>
            </p>
          </div>
        </div>
      </div>
      <button data-modal-target="#modal" class="content__button btn --secondary --full">oforum</button>
      <%= simple_form_for @user_view, remote: true do |f| %>
        <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
        <%= f.submit "Create user view", class: "btnView" %>
      <% end %>
      <%= simple_form_for @user_view, url: save_user_views_path, method: :patch, remote: true do |f| %>
        <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
        <%= f.submit "Save content", class: "btnSave" %>
      <% end %>
      <%= simple_form_for @user_view, url: downvote_user_views_path, method: :patch, remote: true do |f| %>
        <%= f.input :content_id, input_html: { value: content.id }, as: :hidden %>
        <%= f.submit "Downvote content", class: "btnDownvote" %>
      <% end %>
    </div>
  </div>
<% end %>
