<div class="container devise__container">
  <div class="row">
    <div class="col-xs-12 devise__block">
      <div>
        <h2 class="devise__logo">ogram</h2>
        <h3 class="devise__title">wanna loose some time <span class="--font-secondary-color">swipping?</span></h3>
      </div>
      <div class="devise__form">
        <div class="">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="">
            <%= f.input :email, required: false, autofocus: true, placeholder: "michel@ogram.com" %>
            <%= f.input :password, required: false, placeholder: "••••••" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div>
            <%= f.button :submit, "Log in", class: "btn --secondary --full devise__form__button" %>
          </div>
          <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
